
@{
    ViewData["Title"] = "CreateRelation";
}

<h1>CreateRelation</h1>
<p>@ViewBag.error</p>
<p>Player ID : @ViewBag.player, Sponsor ID: @ViewBag.sponsor</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
